pytest
pytest-cov
coverage
responses>=0.21.0
requests
osc
openqa-client
ruamel.yaml
black
jsonschema
urllib3<2 # responses needs <2, see https://github.com/getsentry/responses/issues/635
pylint
flake8
flake8-docstrings
flake8-pydocstyle
flake8-quotes
mccabe
