pytest
pytest-cov
coverage
responses>=0.21.0
requests
osc
openqa-client
ruamel.yaml
jsonschema
urllib3<2 # responses needs <2, see https://github.com/getsentry/responses/issues/635
flake8-black
flake8-pylint
