---
name: ci
# yamllint disable-line rule:truthy
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v6
        with:
          python-version: '3.11'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Setup environment
        run: uv sync --extra dev
      - name: Check format
        run: uv run ruff format --check
      - name: Check style
        run: uv run ruff check
      - name: Run tests + cov report
        run: make test-with-coverage
      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
