---
name: ci
# yamllint disable-line rule:truthy
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: astral-sh/ruff-action@v3
        with:
          version: "latest"
      - name: Check format
        run: ruff format --check
      - uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Setup enviroment
        run: uv sync
      - name: Run tests + cov report
        run: uv run make ISOLATE=0 test-with-coverage
      - name: Upload coverage to CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
